a{
    text-decoration: none;text-align: end;
    color: black;
}
a:hover{
    color:red;
}
ul{
    text-decoration: none;
    list-style-type: bullets;
}
li{
    text-decoration: none;text-align: left;
}